/* Import das fontes */
@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
/*  
  font-family: "Kantumruy Pro", sans-serif;
  font-family: "Sansation", sans-serif;
*/

:root {
  --color-primary: #5cab7d;
  --color-secondary: #5a9367;
  --color-light: #e1f5e9;
  --color-dark: #1c6d3e;
  --color-darker: #022219;
  font-family: "Kantumruy Pro", sans-serif;
  text-align: center;
  line-height: 1.5;
  background-color: var(--color-primary);
}

a {
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-secondary);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--color-primary);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* HEADER */
.header {
  color: var(--color-light);
  width: 100%;
  background-color: var(--color-primary);
  padding-bottom: 1.6rem;
  display: flex;
  justify-content: space-between;
}

.user-info {
  margin: 1rem;
  display: flex;
  gap: 1rem;
}

.icon-container {
  background-color: #e1f5e9;
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 1.6rem;
}

.data-container {
  font-family: "Sansation", sans-serif;
}

.data-container h2 {
  line-height: 100%;
}

.main-content {
  background-color: var(--color-light);
  width: 95%;
  margin: 0 auto;
  /* border-radius: s1.6rem; */
}

/* LISTGRID */
.list-grid {
  padding: 2rem;
}

.list-grid h1 {
  color: var(--color-dark);
  margin-bottom: 1.2rem;
}

.list-grid ul {
  gap: 3.2rem;
  display: flex;
  flex-wrap: wrap;
}

.list-card {
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 16%;
  margin: 0 auto;
  height: 16rem;
  border-radius: 1.2rem;
  color: var(--color-light);
}

.list-card h2 {
  font-size: 1rem;
  max-width: 80%;
}
.list-card p {
  max-width: 80%;
  font-size: 0.8rem;
}

.create-button {
  background-color: var(--color-dark);
}
